<!DOCTYPE HTML>
<html>
	<head>
		<title>Edit Page</title>
	</head>
	<body>
		<form action="/mongooses/<%=mongoose.id%>" method="post">
			Name: <input type="text" name="name">
			Age: <input type="text" name="age">
			<input type="submit" value="Submit">
		</form>
	</body>
</html>