<!DOCTYPE HTML>
<html>
	<head>Form Page</head>
	<body>
		<form action="/mongooses" method="post">
			Name: <input type="text" name="name">
			Age: <input type="text" name="age">
			<input type="submit" name="Submit">
		</form>
	</body>
</html>